<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar</strong>
</p>
<%= image_tag @user.avatar_url %>

<p>
  <strong>Profile Picture</strong>
</p>
<%= image_tag @user.profile_url %>

<%= link_to 'Edit', edit_user_path(@user), class: 'button round' %>
<%= link_to 'Back', users_path, class: 'button round'%>
